.alert {
    border: 2px solid var(--color-red);
    border-radius: 8px;
    font-size: var(--size-step-min-1) !important;
    font-family: var(--font-base);
    margin: 2em auto 0;
    width: 75% !important;
    padding: 2em;
    background-color: var(--color-gray-700);

}

.alert p {
    font-size: var(--size-step-min-1) !important;
    font-family: var(--font-base);
}

.alert span {
    font-size: var(--size-step-min-1) !important;
    font-family: var(--font-base);
}