div.newsletter {
    position: relative;
  background: var(--base00);
  color: var(--base05);
  font-family: $monospace;
  font-size: $font-size-code;
  line-height: $font-height-code;
  border-radius: $border-radius;
  margin: 20px auto;
  padding: 10px;
  
  .email {
    padding: 10px;
    font-family: $font-family-main;
    color: var(--code-background);
    font-size: $font-size-code;
    display: block;
    margin: 0 auto !important;
  }
  
  .submit {
    margin: 10px auto !important;
    font-family: $font-family-main;
    color: #FFF;
    font-size: $font-size-code;
    background-color: var(--link);
    display: block;
    padding: 10px;
  }
}

.mastodon-comment {
  background-color: var(--blockquote);
  border-radius: $border-radius;
  padding: $padding-small;
  margin-bottom: 1rem;
  display:flex
}

.mastodon-comment .content {
  flex-grow:2
}

.mastodon-comment .avatar img {
  margin-right: 1rem;
  min-width:60px
}

.mastodon-comment .author {
  padding-top: 0;
  display:flex
}

.mastodon-comment .author .date {
  margin-left:auto
}

.mastodon-comment .disabled {
  color:var(--link)
}

.mastodon-comment-content p:first-child {
  margin-top:0
}

code {
  white-space : pre-wrap !important;
}

pre code,  /* stackoverflow */
.md:not(.use-csslab) pre code
 {
  white-space: pre-wrap;
}