---
layout: base
schema: BlogPosting
---

<div class="region" style="--region-space-top: var(--space-xl)">
  <div class="wrapper flow prose">
    <h1 class="gradient-text">{{ title }}</h1>
    {% if image %}
      <!-- image -->
      {% image image, alt or "", credit, "eager", "feature" %}
    {% endif %}

    <p class="meta">
      <!-- draft status -->
      {%- if draft -%}
        <span class="button" data-small-button data-button-variant="tertiary">draft</span>
      {%- endif %}
      <!-- date -->
      {% set definedDate = date %} {% include "partials/date-read.njk" %}
    </p>

    <p class="meta | cluster gutter-xs-s">
    {%
        if tags.length >
        1
      %}
        <!-- tags -->
        {% for tag in tags %}{% if tag != "posts" %}
          <a class="button" href="/tags/{{ tag | slugify }}/" data-small-button> {{ tag }} </a>
        {% endif %}{% endfor %}
      {% endif %}
      </p>

      {%- set isOldPost -%}{{ page.date | isOldPost }}{%- endset -%}
    {% if isOldPost == "true" and '/blog' in page.url %}
        <aside class="alert">
            <!-- <div class="alert-icon">
                <svg class="icon alert-calendar">
                    <use xlink:href="#calendar"></use>
                </svg>
            </div> -->
            <p>[!] Signal recovered from a long-dead node ~ {{ page.date | diffInYears }} years old. Data integrity compromised... Some info may be obsolete or fragmented. The opinions still burn like zero-day exploits 🔥💾.</p>
        </aside>
    {% endif %}

    {{ content | safe }}
    <!-- {% include 'partials/edit-on.njk' %} -->
  </div>

  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author.name }}</a>
    <img
      eleventy:ignore
      class="u-author h-card"
      src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author.name }}"
    />
  </div>

{% if mastodon_url %}
<div class="wrapper flow prose">
  <!-- Discuss on Mastodon -->
<template id="mastodon-post-template">
{% include 'partials/mastodon-temp.njk' %}
</template>

<div class="discuss-mastodon">
<section class="full">
    <mastodon-post><i class="fa-brands fa-mastodon"></i> <a href="{{ mastodon_url }}" rel="me" style="color: #bd93f9; padding: 1em 0 0 1em !important; display: inline-block;">Discuss on Mastodon</a></mastodon-post>
    </section>
  </div>
</div>
{% endif %}
</div>

{%- css "local" -%}
  {%- include 'css/post.css' -%}
  {%- include 'css/footnotes.css' -%}
{%- endcss -%}
