---
layout: base
title: Blog
description: 'All blog posts can be found here'
pagination:
  data: collections.allPosts
  size: 8
permalink: 'blog/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
---

<div class="wrapper">
  <header class="full | section" style="--spot-color: var(--color-flamingo)">
    <div class="section__inner flow region">
      <h1 class="text-center" style="color: var(--color-bg);">{{ title }}</h1>
    </div>
    {% svg "divider/pixels", null, "divider" %}
  </header>

  <div class="region flow">
    <p>I cover topics in cybersecurity, explore the latest in tech trends, and dive into IT best practices. Occasionally, I’ll also post a tech review.</p>
  </div>

  <custom-masonry layout="50-50">
		{% asyncEach item in pagination.items %}
			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>

  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>
