<figure class="mastodon-post">
    <blockquote class="mastodon-post-quote" data-key="content"></blockquote>
    <figcaption class="mastodon-post__caption"><!--<cite> — <a data-key="url" rel="me"><span
                    data-key="username"></span>@<span data-key="hostname"></span></a></cite>-->
        <dl class="mastodon-post__stats">
            <div class="mastodon-post__stat">
                <dt><i class="fa-solid fa-retweet u-color--purple u-gap--right"></i>Reposts</dt>
                <dd data-key="reblogs_count"></dd>
            </div>
            <div class="mastodon-post__stat">
                <dt><i class="fa-solid fa-comment u-color--purple u-gap--right"></i>Replies</dt>
                <dd data-key="replies_count"></dd>
            </div>
            <div class="mastodon-post__stat">
                <dt><i class="fa-solid fa-star u-color--purple u-gap--right"></i>Favorites</dt>
                <dd data-key="favourites_count"></dd>
            </div>
        </dl>
    </figcaption>
</figure>